<nav role="navigation" aria-labelledby="block-sharp-main-navigation-menu" id="block-sharp-main-navigation">
  <button class="primary-navigation__device-toggle shp-burger-menu" data-main-menu--device-toggle="" aria-expanded="false" aria-controls="main-menu">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </button>
  <ul class="primary-navigation" data-main-menu="" role="navigation" aria-label="Main" id="main-menu" menubar="">
    <li class="primary-navigation__list-item primary-navigation__list-item--level-0" data-main-menu--link="menu_link_content:d665b976-0624-4c32-ac92-cf31fcfcade3" data-main-menu--link-level="0" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
      <span>Products</span>
      <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-0 " data-main-menu--submenu="menu_link_content:d665b976-0624-4c32-ac92-cf31fcfcade3" data-main-menu--submenu-level="0">
        <button class="primary-navigation__back-btn" data-main-menu--back-button="0">
        &lt; Back
        </button>
        <p class="primary-navigation__title">Products</p>
        <div class="primary-navigation__content">
          <ul class="primary-navigation__list" menu="">
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:4d33d1ec-2cae-4a55-8876-f90f71583392" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Photocopiers &amp; Printers</span>
              <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-1" data-main-menu--submenu="menu_link_content:4d33d1ec-2cae-4a55-8876-f90f71583392" data-main-menu--submenu-level="1">
                <button class="primary-navigation__back-btn" data-main-menu--back-button="1">
                &lt; Back
                </button>
                <p class="primary-navigation__title">Photocopiers &amp; Printers</p>
                <div class="primary-navigation__content">
                  <ul class="primary-navigation__list" menu="">
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 2 - Child 1 - SubItem 1</a>
                    </li>
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 2 - Child 1 - SubItem 2</a>
                    </li>
                  </ul>
                  <div class="primary-navigation__promo">
                  </div>
                </div>
              </div>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:eae921f9-b57f-4a87-a4fd-8bfb4aeb6f75" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Visitor Management</span>
              <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-1" data-main-menu--submenu="menu_link_content:eae921f9-b57f-4a87-a4fd-8bfb4aeb6f75" data-main-menu--submenu-level="1">
                <button class="primary-navigation__back-btn" data-main-menu--back-button="1">
                &lt; Back
                </button>
                <p class="primary-navigation__title">Visitor Management</p>
                <div class="primary-navigation__content">
                  <ul class="primary-navigation__list" menu="">
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 2 - Child 2 - SubItem 1</a>
                    </li>
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 2 - Child 2 - SubItem 2</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:c6d6d0eb-fc96-4f13-9c37-7f3ea864edf4" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Audio Visual</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:ad6f7c74-0fac-4992-8c9d-79cec72596e5" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <a href="https://google.com" target="_blank" rel="noopener noreferrer">EPOS</a>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:fd7ad3db-862f-4538-8a50-334e3b463a3f" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Laptops &amp; Computing</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:799ae5ab-ba47-431a-9ac6-dc4c1b6a57e0" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <a href="https://google.com" target="_blank" rel="noopener noreferrer">Solar Energy</a>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:c647196d-7d13-46e3-8224-93ce7540f584" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <a href="https://google.com" target="_blank" rel="noopener noreferrer">Workplace Furniture</a>
            </li>
          </ul>
          <div class="primary-navigation__promo">
            
          </div>
        </div>
      </div>
    </li>
    <li class="primary-navigation__list-item primary-navigation__list-item--level-0" data-main-menu--link="menu_link_content:963ad475-6ca9-4f11-b801-36277a5cf10e" data-main-menu--link-level="0" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
      <span>Services &amp; Solutions</span>
      <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-0 primary-navigation__sub-menu--two-column" data-main-menu--submenu="menu_link_content:963ad475-6ca9-4f11-b801-36277a5cf10e" data-main-menu--submenu-level="0">
        <button class="primary-navigation__back-btn" data-main-menu--back-button="0">
        &lt; Back
        </button>
        <p class="primary-navigation__title">Services &amp; Solutions</p>
        <div class="primary-navigation__content">
          <ul class="primary-navigation__list" menu="">
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:37f102f4-f457-47d0-9e98-4242085883d2" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Managed Print Services</span>
              <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-1" data-main-menu--submenu="menu_link_content:37f102f4-f457-47d0-9e98-4242085883d2" data-main-menu--submenu-level="1">
                <button class="primary-navigation__back-btn" data-main-menu--back-button="1">
                &lt; Back
                </button>
                <p class="primary-navigation__title">Managed Print Services</p>
                <div class="primary-navigation__content">
                  <ul class="primary-navigation__list" menu="">
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 1 - SubItem 1</a>
                    </li>
                  </ul>
                  <div class="primary-navigation__promo">
                  </div>
                </div>
              </div>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:ae1d8d6a-e457-41e3-996b-d61157163b24" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>AV Services</span>
              <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-1" data-main-menu--submenu="menu_link_content:ae1d8d6a-e457-41e3-996b-d61157163b24" data-main-menu--submenu-level="1">
                <button class="primary-navigation__back-btn" data-main-menu--back-button="1">
                &lt; Back
                </button>
                <p class="primary-navigation__title">AV Services</p>
                <div class="primary-navigation__content">
                  <ul class="primary-navigation__list" menu="">
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 2 - SubItem 1</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:6830ebd1-855b-46b5-8ce9-3fb5622c631a" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>EPOS Solutions</span>
              <div class="primary-navigation__sub-menu primary-navigation__sub-menu--level-1" data-main-menu--submenu="menu_link_content:6830ebd1-855b-46b5-8ce9-3fb5622c631a" data-main-menu--submenu-level="1">
                <button class="primary-navigation__back-btn" data-main-menu--back-button="1">
                &lt; Back
                </button>
                <p class="primary-navigation__title">EPOS Solutions</p>
                <div class="primary-navigation__content">
                  <ul class="primary-navigation__list" menu="">
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <span>Menu Item 1 - Child 3 - SubItem 1 TITLE</span>
                      <ul class="primary-navigation__list">
                        <li>
                          <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 3 - SubItem 1 Link 1</a>
                        </li>
                        <li>
                          <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 3 - SubItem 1 Link 2</a>
                        </li>
                      </ul>
                    </li>
                    <li class="primary-navigation__list-item primary-navigation__list-item--level-2">
                      <span>Menu Item 1 - Child 3 - SubItem 2 TITLE</span>
                      <ul class="primary-navigation__list">
                        <li>
                          <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 3 - SubItem 2 Link 1</a>
                        </li>
                        <li>
                          <a href="https://google.com" target="_blank" rel="noopener noreferrer">Menu Item 1 - Child 3 - SubItem 2 Link 2</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:5fdf8060-7873-4b97-8583-98aed7937155" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Solar Energy Services</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:ba4243d9-4fa3-4735-b7b2-e25667ff92fd" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>IT Services</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:78fd6b8e-6dc3-41bc-baf1-213d3c75a97a" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>Office Furniture Solutions</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:6a6a26fa-f5da-4b8b-84b3-9a5dfa6cc61c" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>By Industry</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:f60ca77c-7e4a-4458-aacf-75a281cf6e07" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>By Company Size</span>
            </li>
            <li class="primary-navigation__list-item primary-navigation__list-item--level-1" data-main-menu--link="menu_link_content:dd34cf52-f5c5-4d2c-ad50-25b642e8517d" data-main-menu--link-level="1" tabindex="0" menuitem="" aria-haspopup="true" aria-expanded="false">
              <span>By Environment</span>
            </li>
          </ul>
          <div class="primary-navigation__promo">
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>