##
# Ignore unnecessary files to be push to npmjs
##

# Exclude git folder
.git

# Exclude build directories
node_modules
build
patches
# sass
# js

# Exclude Fractal files
framework
fractal.js
docroot

# Error log
npm-debug.log

# Silly Macs
.DS_Store

# Example
example

# GitHub actions
.github
