<div data-carousel-autoinit>
  <div class="carousel">
     <a class="carousel-item" href="#one!"><img src="https://picsum.photos/200/300"></a>
     <a class="carousel-item" href="#two!"><img src="https://picsum.photos/200/300"></a>
     <a class="carousel-item" href="#three!"><img src="https://picsum.photos/200/300"></a>
     <a class="carousel-item" href="#four!"><img src="https://picsum.photos/200/300"></a>
     <a class="carousel-item" href="#five!"><img src="https://picsum.photos/200/300"></a>
  </div>
</div>
