<div class="row">
  <div class="col-sm-12">
    <ul class="tabs">
      <li class="tab col"><a href="#test1">Item 1</a></li>
      <li class="tab col"><a class="active" href="#test2">Item 2 very long name</a></li>
      <li class="tab col disabled"><a href="#test3">Disabled item 3</a></li>
      <li class="tab col"><a href="#test4">Item 4</a></li>
    </ul>
  </div>
  <div id="test1" class="col-sm-12">Test 1</div>
  <div id="test2" class="col-sm-12">Test 2</div>
  <div id="test3" class="col-sm-12">Test 3</div>
  <div id="test4" class="col-sm-12">Test 4</div>
</div>
