<form action="#">
  <p>
    <label>
      <input type="checkbox" />
      <span>Default</span>
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" class="filled-in" checked="checked" />
      <span>Filled in</span>
    </label>
  </p>
</form>
