<div class="input-field">
  <input id="text_input" type="text" class="validate">
  <label for="text_input">Text input</label>
</div>
<div class="input-field">
  <input placeholder="Placeholder" id="placeholder_input" type="text" class="validate">
  <label for="placeholder_input">With placeholder</label>
</div>
