<form action="#">
  <p>
    <label>
      <input name="group1" type="radio" checked />
      <span>Default</span>
    </label>
  </p>
  <p>
    <label>
      <input class="with-gap" name="group1" type="radio"  />
      <span>With gap</span>
    </label>
  </p>
  <p>
    <label>
      <input name="group1" type="radio" disabled="disabled" />
      <span>Disabled</span>
    </label>
  </p>
</form>
