<div class="card">
  <div class="card-image">
    <img src="Image.png" alt="" title="" />
  </div>
  <div class="card-content">
    <h2>Title</h2>
    <h3>Subtitle</h3>
    <p>Description</p>
  </div>
  <div class="card-action">
    <button class="btn btn-ternary">Button</button>
    <button class="btn">Button</button>
  </div>
</div>
