<div class="video-facade">
  <div class="youtube-facade" data-youtube-facade data-youtube-id="w06hj7ghsgI" style="background-image: url('https://i.ytimg.com/vi/w06hj7ghsgI/hqdefault.jpg');">
    <!-- button is optional -->
    <button type="button" class="video-facade__play-button">
      <span class="visually-hidden">Play Video: Title</span>
    </button>
  </div>
</div>
