html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-colour;
  line-height: $font-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading;
  line-height: $font-line-height-heading;
}

h1,
.h1 {
  font-size: $font-size-h1-mobile;
}

h2,
.h2 {
  font-size: $font-size-h2-mobile;
}

h3,
.h3 {
  font-size: $font-size-h3-mobile;
}

h4,
.h4 {
  font-size: $font-size-h4-mobile;
}

h5,
.h5 {
  font-size: $font-size-h5-mobile;
}

h6,
.h6 {
  font-size: $font-size-h6-mobile;
}

hr,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

p,
ul,
ol {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

a {
  color: $font-colour;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

hr {
  background: none;
  border: none;
  border-top: solid $colour-grey-light 0.063rem;
}

ul,
ol {
  padding-left: 1rem;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-sm {
  font-size: $font-size-sm;
}

.meta {
  font-size: $font-size-meta;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-lg;
}

@include media-breakpoint-up(md) {
  h1,
  .h1 {
    font-size: $font-size-h1;
  }

  h2,
  .h2 {
    font-size: $font-size-h2;
  }

  h3,
  .h3 {
    font-size: $font-size-h3;
  }

  h4,
  .h4 {
    font-size: $font-size-h4;
  }

  h5,
  .h5 {
    font-size: $font-size-h5;
  }

  h6,
  .h6 {
    font-size: $font-size-h6;
  }
}
