<div class="accordion" data-accordion>
  <div class="accordion__trigger" data-accordion-trigger role="button" tabindex="0" onClick="" aria-pressed="false">Open accordion <i class="material-icons">expand_more</i></div>
  <div class="accordion__content" data-accordion-content>
    <p>Lorem ipsum dolor sit amet, in labitur dissentiet conclusionemque est, novum exerci noluisse no per, vis mutat partem legendos id. Ut vulputate cotidieque dissentiunt nam. At splendide constituam eum. Sed ei diam appellantur theophrastus. Consequat aliquando ea duo. His dicta deserunt ad, te nisl dolorem per, cu ius constituto consectetuer.</p>
    <p>Sit an timeam impetus, intellegat dissentias pri ex, est illud simul zril ex. Vel in elitr essent aeterno, etiam facilis praesent nam id, et dicam accumsan forensibus mei. Facilisi explicari ea est. Ei eum libris deleniti persecuti. Quo assum audire percipit ex, diam maiorum detraxit cu mel, an facer inimicus maluisset ius.</p>
    <p>Enim minim cotidieque cu cum, sit ex tale idque. Ad liber consulatu vel. His nibh brute et, mea ne malis malorum. His iracundia argumentum intellegebat no. Sed in nulla error rationibus, ei usu munere mucius.</p>
    <p>Causae salutatus theophrastus has cu, hinc iusto ullamcorper an eos, nibh rebum aliquando pri ei. Eos stet civibus gubergren ut. Ut wisi ludus ullamcorper qui, his et euismod phaedrum cotidieque. Iusto saepe vis et. Consul perfecto duo ut, est ex illum platonem dissentiet.</p>
    <p>Minim nemore cum ut, sit possit vituperata deterruisset id. Cibo adolescens scripserit te nec, te tritani incorrupte sed, mei ex iudico reprehendunt. Eu atqui scripserit est, ut sea option timeam expetenda, nam graecis deserunt te. Pro omittantur consectetuer id, ex his suscipit menandri sensibus. His moderatius assueverit eu, et aliquid expetenda usu, nec dicat persecuti voluptatum eu.</p>
  </div>
</div>

<div class="accordion is-open" data-accordion>
  <div class="accordion__trigger" data-accordion-trigger role="button" tabindex="0" onClick="" aria-pressed="false">Accordion is open<i class="material-icons">expand_more</i></div>
  <div class="accordion__content" data-accordion-content>
    <p>Lorem ipsum dolor sit amet, in labitur dissentiet conclusionemque est, novum exerci noluisse no per, vis mutat partem legendos id. Ut vulputate cotidieque dissentiunt nam. At splendide constituam eum. Sed ei diam appellantur theophrastus. Consequat aliquando ea duo. His dicta deserunt ad, te nisl dolorem per, cu ius constituto consectetuer.</p>
    <p>Sit an timeam impetus, intellegat dissentias pri ex, est illud simul zril ex. Vel in elitr essent aeterno, etiam facilis praesent nam id, et dicam accumsan forensibus mei. Facilisi explicari ea est. Ei eum libris deleniti persecuti. Quo assum audire percipit ex, diam maiorum detraxit cu mel, an facer inimicus maluisset ius.</p>
    <p>Enim minim cotidieque cu cum, sit ex tale idque. Ad liber consulatu vel. His nibh brute et, mea ne malis malorum. His iracundia argumentum intellegebat no. Sed in nulla error rationibus, ei usu munere mucius.</p>
    <p>Causae salutatus theophrastus has cu, hinc iusto ullamcorper an eos, nibh rebum aliquando pri ei. Eos stet civibus gubergren ut. Ut wisi ludus ullamcorper qui, his et euismod phaedrum cotidieque. Iusto saepe vis et. Consul perfecto duo ut, est ex illum platonem dissentiet.</p>
    <p>Minim nemore cum ut, sit possit vituperata deterruisset id. Cibo adolescens scripserit te nec, te tritani incorrupte sed, mei ex iudico reprehendunt. Eu atqui scripserit est, ut sea option timeam expetenda, nam graecis deserunt te. Pro omittantur consectetuer id, ex his suscipit menandri sensibus. His moderatius assueverit eu, et aliquid expetenda usu, nec dicat persecuti voluptatum eu.</p>
  </div>
</div>

<div class="accordion accordion--mobile-only" data-accordion>
  <div class="accordion__trigger" data-accordion-trigger role="button" tabindex="0" onClick="" aria-pressed="false">This one only works on mobile <i class="material-icons">expand_more</i></div>
  <div class="accordion__content" data-accordion-content>
    <p>Lorem ipsum dolor sit amet, in labitur dissentiet conclusionemque est, novum exerci noluisse no per, vis mutat partem legendos id. Ut vulputate cotidieque dissentiunt nam. At splendide constituam eum. Sed ei diam appellantur theophrastus. Consequat aliquando ea duo. His dicta deserunt ad, te nisl dolorem per, cu ius constituto consectetuer.</p>
    <p>Sit an timeam impetus, intellegat dissentias pri ex, est illud simul zril ex. Vel in elitr essent aeterno, etiam facilis praesent nam id, et dicam accumsan forensibus mei. Facilisi explicari ea est. Ei eum libris deleniti persecuti. Quo assum audire percipit ex, diam maiorum detraxit cu mel, an facer inimicus maluisset ius.</p>
    <p>Enim minim cotidieque cu cum, sit ex tale idque. Ad liber consulatu vel. His nibh brute et, mea ne malis malorum. His iracundia argumentum intellegebat no. Sed in nulla error rationibus, ei usu munere mucius.</p>
    <p>Causae salutatus theophrastus has cu, hinc iusto ullamcorper an eos, nibh rebum aliquando pri ei. Eos stet civibus gubergren ut. Ut wisi ludus ullamcorper qui, his et euismod phaedrum cotidieque. Iusto saepe vis et. Consul perfecto duo ut, est ex illum platonem dissentiet.</p>
    <p>Minim nemore cum ut, sit possit vituperata deterruisset id. Cibo adolescens scripserit te nec, te tritani incorrupte sed, mei ex iudico reprehendunt. Eu atqui scripserit est, ut sea option timeam expetenda, nam graecis deserunt te. Pro omittantur consectetuer id, ex his suscipit menandri sensibus. His moderatius assueverit eu, et aliquid expetenda usu, nec dicat persecuti voluptatum eu.</p>
  </div>
</div>
