// Variables
// ---

// Colours
$colour-grey: #999;
$colour-grey-light: #ccc;
$colour-grey-lightest: #f4f6f8;
$colour-grey-dark: #454f58;
$colour-grey-darkest: #010101;

// Dimensions
$grid-gutter-width: 2rem !default;
$dimension-border-width: 0.0625rem;
$dimension-padding: ($grid-gutter-width / 2);
$dimension-padding-lg: $grid-gutter-width;
$dimension-padding-xl: ($grid-gutter-width * 2);

// Fonts
$font-family: 'Work Sans', Arial, sans-serif;
$font-size: 1rem;
$font-colour: $colour-grey-darkest;

// Font-sizes
$font-size-h1: 4.000rem; // 64px
$font-size-h2: 2.875rem; // 46px
$font-size-h3: 2.000rem; // 32px
$font-size-h4: 1.750rem; // 28px
$font-size-h5: 1.500rem; // 24px
$font-size-h6: 1.375rem; // 22px

$font-size-lg: 1.250rem; // 20px;
$font-size-sm: 0.875rem; // 14px;
$font-size-meta: 0.625rem; // 10px;

$font-size-h1-mobile: 2.250rem; // 36px
$font-size-h2-mobile: 2.000rem; // 32px
$font-size-h3-mobile: 1.625rem; // 26px
$font-size-h4-mobile: 1.500rem; // 24px
$font-size-h5-mobile: 1.250rem; // 20px
$font-size-h6-mobile: 1.125rem; // 18px

// Line heights
$font-line-height: 1.40;
$font-line-height-heading: 1.17;

// Letter spacing
$letter-spacing-heading: -0.02rem;
$letter-spacing: 0;
$letter-spacing-lg: 0.03rem;

// Font weight
$font-weight: normal;
$font-weight-bold: 700;

// Spacing
$spacing-xs: 0.250rem;  // 4px
$spacing-sm: 0.500rem;  // 8px
$spacing: 1.000rem;     // 16px;
$spacing-md: 1.500rem;  // 24px;
$spacing-lg: 2.000rem;  // 32px;
$spacing-xl: 2.500rem;  // 40px
$spacing-xxl: 3.500rem; // 56px

// width
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

// Base variables from materialize.
// TODO: We should create our base variables.
// 1. Colours
$primary-color: black !default;
$primary-color-light: black !default;
$primary-color-dark: black !default;

$secondary-color: grey;
$success-color: green;
$error-color: red;
$link-color: blue;

// 4. Cards
$card-link-color: blue;

// 10. Forms
$input-border-color: blue;

// 15. Photo Slider
$slider-bg-color: grey;
$slider-bg-color-light: grey;
$slider-indicator-color: grey;
