<h2>Primary</h2>
<div class="color-card bg-color--primary-dark">
  <p>Primary - Dark</p>
</div>
<div class="color-card bg-color--primary-medium">
  <p>Primary - Medium</p>
</div>
<div class="color-card bg-color--primary-light">
  <p>Primary - Light</p>
</div>

<h2>Secondary</h2>
<div class="color-card bg-color--secondary-dark">
  <p>Secondary - Dark</p>
</div>
<div class="color-card bg-color--secondary-medium">
  <p>Secondary - Medium</p>
</div>
<div class="color-card bg-color--secondary-light">
  <p>Secondary - Light</p>
</div>


<h2>Neutrals</h2>
<div class="color-card bg-color--neutral-black">
  <p>Neutral - Black</p>
</div>
<div class="color-card bg-color--neutral-white">
  <p>Neutral - White</p>
</div>
<br>
<div class="color-card bg-color--neutral-darker">
  <p>Primary - Darker</p>
</div>
<div class="color-card bg-color--neutral-dark">
  <p>Primary - Dark</p>
</div>
<div class="color-card bg-color--neutral-medium">
  <p>Primary - Medium</p>
</div>
<div class="color-card bg-color--neutral-light">
  <p>Primary - Light</p>
</div>
<div class="color-card bg-color--neutral-lighter">
  <p>Primary - Lighter</p>
</div>

<h2>UI</h2>
<!-- use color for color css attribute -->
<div class="color-card color--ui-success">
  <p>UI - Success</p>
</div>
<div class="color-card color--ui-error">
  <p>UI - Error</p>
</div>
<div class="color-card color--ui-warning">
  <p>UI - Warning</p>
</div>
<div class="color-card color--ui-info">
  <p>UI - Info</p>
</div>
<br>
<!-- use bg-color for color css attribute -->
<div class="color-card bg-color--ui-success">
  <p>UI - Success background</p>
</div>
<div class="color-card bg-color--ui-error">
  <p>UI - Error background</p>
</div>
<div class="color-card bg-color--ui-warning">
  <p>UI - Warning background</p>
</div>
<div class="color-card bg-color--ui-info">
  <p>UI - Info background</p>
</div>
