<div class="row">
  <div class="col-sm-1">
    <span style="background: #a1a1a1; height: 100vh; width: 100%; display: block;"></span>
  </div>
  <div class="col-sm-2">
    <span style="background: #a1a1a1; height: 100vh; width: 100%; display: block;"></span>
  </div>
  <div class="col-sm-3">
    <span style="background: #a1a1a1; height: 100vh; width: 100%; display: block;"></span>
  </div>
  <div class="col-sm-6">
    <span style="background: #a1a1a1; height: 100vh; width: 100%; display: block;"></span>
  </div>
</div>
