<section class="catchify-section">
  <h1 class="h3">Typography</h1>
  <p>Resize to see mobile versions.</p>
  <hr>
  <h1>Header 1</h1>
  <hr>
  <h2>Header 2</h2>
  <hr>
  <h3>Header 3</h3>
  <hr>
  <h4>Header 4</h4>
  <hr>
  <h5>Header 5</h5>
  <hr>
  <h6>Header 6</h6>
  <hr>
  <p class="text-lg">Body large</p>
  <hr>
  <p class="text-lg"><strong>Body large bold</strong></p>
  <hr>
  <p>Body medium (standard)</p>
  <hr>
  <p><strong>Body medium bold</strong></p>
  <hr>
  <p class="text-sm">Body small</p>
  <hr>
  <p class="text-sm"><strong>Body small bold</strong></p>
  <hr>
  <p class="meta">Subtitle / meta text</p>
  <hr>
  <p class="meta"><strong>Meta text</strong></p>
  <hr>
  <p class="btn">Button text</p>
</section>
<section class="catchify-section">
  <h1 class="h3">Type pairing</h1>
  <hr>
  <h1>Heading</h1>
  <h2 class="h6">Sub-heading</h2>
  <p>Text body</p>
  <hr>
  <h1>Heading</h1>
  <h2 class="h6">Sub-heading goes here</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eget iaculis eget eget neque, posuere quis placerat arcu. Ipsum est felis varius faucibus praesent convallis.</p>
  <hr>
  <h1>Heading</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eget iaculis eget eget neque, posuere quis placerat arcu. Ipsum est felis varius faucibus praesent convallis.</p>
</section>

