<h2>Desktop</h2>
<hr>
<h1>Header 1</h1>
<hr>
<h2>Header 2</h2>
<hr>
<h3>Header 3</h3>
<hr>
<h4>Header 4</h4>
<hr>
<h5>Header 5</h5>
<hr>
<h6>Header 6</h6>

<p>&nbsp;</p>
<p>Subtitle / meta text</p>
<hr>
<p><strong>Subtitle / meta text</strong></p>
<hr>
<p>Body</p>
<hr>
<p><strong>Bold body</strong></p>
<hr>
<p><sub>Body</sub></p>
<hr>
<p><sub><strong>Body</strong></sub></p>
<hr>
<p>Pre title</p>
<hr>
<p>Button text</p>

<p>&nbsp;</p>
<h2>Mobile</h2>

<h1>Header 1</h1>
<hr>
<h2>Header 2</h2>
<hr>
<h3>Header 3</h3>
<hr>
<h4>Header 4</h4>
<hr>
<h5>Header 5</h5>
<hr>
<h6>Header 6</h6>
<p>&nbsp;</p>

<!-- <p>Subtitle / meta text</p>
<hr>
<p><strong>Subtitle / meta text</strong></p>
<hr>
<p>Body</p>
<hr>
<p><strong>Bold body</strong></p>
<hr>
<p><sub>Body</sub></p>
<hr>
<p><sub><strong>Body</strong></sub></p>
<hr>
<p>Pre title</p>
<hr>
<p>Button text</p>
<p>&nbsp;</p> -->

<p>Type pairing</p>
<hr>
<h1>Heading</h1>
<h2>Sub-heading</h2>
<p>Text body</p>
