<ul id="tabs" class="tabs">
  <li class="tab col"><a href="#test-1">Test 1</a></li>
  <li class="tab col"><a class="active" href="#test-2">Test 2</a></li>
  <li class="tab col"><a href="#test-3">Test 3</a></li>
</ul>
